.album {
    min-height: 50rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.card {
    float: left;
    width: 33.333%;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
}

.card > img {
    width: 362px;
    height: 271px;
    margin-bottom: .75rem;
}

.card-text {
    font-size: 85%;
}